.feature_cat_main {
    position: relative;
}

.contant_us_main {
    position: relative;
}


.feature__bg__img {
    background-image: url(/images/background-img/featured_bg_img2.png);
    background-repeat: no-repeat;
    background-position: left;
    object-fit: cover;
    background-size: contain;
    position: absolute;
    width: 150px;
    height: 100%;
    top: -120px;
    left: 0;
}

.contact__bg__img {
    background-image: url(/images/background-img/featured_bg_img3.png);
    background-repeat: no-repeat;
    background-position: left;
    object-fit: cover;
    background-size: contain;
    position: absolute;
    width: 220px;
    height: 100%;
    z-index: -1;
    top: -180px;
    right: 0;
    animation: vipAnimation 7s infinite;

}

/* Keyframes for the VIP animation */
@keyframes vipAnimation {
    0%, 100% {
        transform: translateY(0);
        /* Start and end position: no vertical translation */
    }

    25%, 75% {
        transform: translateY(-15px);
        /* Middle position: translate 15 pixels up */
    }

    50% {
        transform: translateY(-30px);
        /* Peak position: translate 30 pixels up */
    }
}



/* Apply the main animation to the element by default */
.gallery_card1 {
    background-color: var(--color-6);
    border-radius: 10px;
    padding: 25px;
    box-shadow: -1px 1px 12px #375559;
    text-decoration: none;
    height: 320px;
}

/* Define a new animation for the hover state */
@keyframes hoverAnimation {
    0% {
        transform: scale(1);
        /* Normal size */
    }

    50% {
        transform: scale(1.05);
        /* Scale up slightly */
    }

    100% {
        transform: scale(1);
        /* Back to normal size */
    }
}

/* Apply the hover animation when the element is hovered */
.gallery_card1:hover {
    animation: hoverAnimation 0.5s initial;
    /* Apply the hover animation */
}

.gallery_card1:hover {
    background-color: var(--color-5);
    border-radius: 10px;
    padding: 0 0 25px 0;
    box-shadow: 0 0 2px var(--color-9), 0 0 10px var(--color-9), 0 0 5px var(--color-9), 0 0 5px var(--color-9),
        0 0 5px var(--color-9), 0 0 5px var(--color-9);
    -webkit-animation: blink 0.7s infinite alternate;
    animation: blink 0.7s infinite alternate;
}